img {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
}

.noBorder {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
}

.cuadroBlanco {
    color: black;
    background: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding: 20px !important;
    border-radius: 50px;
    box-shadow: 10px 10px 5px rgba(100, 100, 100, 0.4)
}

.divTran {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s;
    transition: width 2s;
}

.divTran:hover {
    width: 300px;
}

.divTran2 {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
}

.divTran2:hover {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}

.textBorder {
    text-shadow: -1px 1px black, 1px 1px black, 1px -1px black, -1px -1px black,
    2px 0 black, 0 2px black, 0 -2px black, -2px 0 black !important;
}

.bigB b{
    font-size: 1.1em;
    background: #444;

    border-radius: 20px;
    padding:0 7px;
}

.ejercicio{
    background: url('../images/code.png') no-repeat;
    vertical-align: middle;
    padding: 15px !important;
}